<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>N-Queens Problem</title>

    <!--    <link rel="stylesheet" href="style.css">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1 style="text-align: center;">N-Queens Problem Visualizer</h1>
<div class="container">

    <div id="solver-pickers" class="controls controls-left">
        <div class="limit--input">
            <form id="limitForm" action="#" onsubmit="return false;">
                <label for="limit">Limit</label>
                <input class="input--field" type="number" id="limit"
                       name="limit"
                       placeholder="5000" min="1" max="10000">
            </form>
            <form id="sideMovesForm" action="#" onsubmit="return false;">
                <label for="sideMoves">Sideway moves</label>
                <input class="input--field"
                       type="number"
                       id="sideMoves" name="sideMoves"
                       placeholder="5" min="0"
                       max="100">
            </form>
        </div>
    </div>

    <div>
        <div id="board" class="board"></div>
    </div>

    <div id="loading" style="display: none;">Solving...</div>

    <div id="right-panel" style="display: flex; flex-direction: column; gap: 50px; width: 20em">
        <div class="stats"
             style="display: flex; gap: 10px; flex-direction: column; align-items: center; width: 100%;">

            <div class="gray-theme-stat" style="width: 80%;">
                <span class="gray-label">Solve Duration:</span>
                <span class="gray-value" id="solveDuration">0.0000 s</span>
            </div>

            <div class="gray-theme-stat" style="width: 80%;">
                <span class="gray-label">Expanded nodes:</span>
                <span class="gray-value" id="nodesExpanded"> 0 </span>
            </div>
        </div>

        <div class="controls controls-right">
            <div class="one-step-button">
                <button id="backwardButton"><<</button>
                <button id="forwardButton">>></button>
            </div>
            <button id="showResult">Final queens positions</button>
            <button id="runButton">Play</button>

            <form id="playbackSpeedForm" action="#" onsubmit="return false;">
                <label for="playbackSpeed">Step duration:</label>
                <div style="display: inline-flex; align-items: center;">
                    <input class="input--field" type="number" id="playbackSpeed"
                           name="playbackSpeed" placeholder="1000" min="1" max="1000">
                    <span style="margin-left: 8px;">ms</span>
                </div>
            </form>

        </div>
    </div>
</div>

<script>
    const N = 8;
    let actualStep = 0;
    let solutionSteps = [];
    let isRun = false;
    let stepInterval;
    let playbackSpeed = 1000;
    let limit = 5000;
    let sideMoves = 5;

    const Methods = {
        DFS: {value: 'dfs', publicName: 'Depth First Search'},
        BACKTRACKING: {value: 'backtracking', publicName: 'Backtracking MRV&LCV'},
        NAIVE_BACKTRACKING: {value: 'dfsbacktracking', publicName: 'Backtracking'},
        FORWARD_CHECKING: {value: 'forwardchecking', publicName: 'Forward checking'},
        MIN_MAX_CONFLICT: {value: 'minmax', publicName: 'Min-Max conflict'},
        HILL_CLIMBING: {value: 'hillclimbing', publicName: 'Hill climbing'}

    };

    document.addEventListener("DOMContentLoaded", () => {
        const board = document.getElementById('board');
        board.style.gridTemplateColumns = `repeat(${N}, 1fr)`;
        initBoard(board);
        defineQueen();

        const solverPickers = document.getElementById('solver-pickers')
        for (const [key, {value, publicName}] of Object.entries(Methods)) {
            const button = document.createElement('button');
            button.textContent = `Solve using ${publicName}`;
            button.id = `solve${key}`;
            button.addEventListener('click', () => {
                solutionSteps = []
                resetBoard();
                setSolutionSteps(value);
            })

            solverPickers.appendChild(button)
        }

        document.getElementById('forwardButton').addEventListener('click', () => {
            stepForward();
        });

        document.getElementById('backwardButton').addEventListener('click', () => {
            stepBackward();
        });

        document.getElementById("showResult").addEventListener('click', async () => {
            if (isRun) {
                pausePlaying()
            }
            resetBoard()

            setFinalQueensPositions()

        });

        const setFinalQueensPositions = async () => {
            const loadingElement = document.getElementById('loading');
            loadingElement.style.display = 'block';
            await fetch(`http://localhost:5000/board/queens`, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                },
            })
                    .then((response) => response.json().then(responseSteps => {
                        console.log(responseSteps)
                        responseSteps.forEach((q, c) => queenToggle(c, q))
                        actualStep = solutionSteps.length
                    }))
                    .then(() => loadingElement.style.display = 'none');
        }

        document.getElementById("playbackSpeed").addEventListener("wheel", (event) => {
            event.preventDefault();

            if (event.deltaY < 0) {
                playbackSpeed = parseInt(playbackSpeed) + 50;
            } else {
                playbackSpeed = Math.max(0, playbackSpeed - 50);
            }
            document.getElementById("playbackSpeed").placeholder = playbackSpeed;
        });

        document.getElementById("playbackSpeedForm").addEventListener("submit", (event) => {
            event.preventDefault();

            const input = document.getElementById("playbackSpeed");
            playbackSpeed = input.value;
            input.placeholder = playbackSpeed;
            input.value = '';
        });

        document.getElementById("sideMovesForm").addEventListener("submit", (event) => {
            event.preventDefault();

            const input = document.getElementById("sideMoves");
            sideMoves = input.value;
            input.placeholder = sideMoves
            input.value = '';
        });

        document.getElementById("limitForm").addEventListener("submit", (event) => {
            event.preventDefault();

            const input = document.getElementById("limit");
            limit = input.value;
            input.placeholder = limit
            input.value = '';
        });

        document.getElementById('runButton').addEventListener('click', () => {
            isRun = !isRun
            if (isRun) {
                document.querySelector('#runButton').innerText = 'Pause';
                stepInterval = setInterval(safeStepForward, playbackSpeed)
            } else {
                pausePlaying()
            }
        });
    });

    function safeStepForward() {
        if (actualStep >= solutionSteps.length) {
            pausePlaying()
        }
        stepForward();
    }

    function pausePlaying() {
        isRun = false;
        clearInterval(stepInterval)
        document.querySelector('#runButton').innerText = 'Play';
    }

    function stepForward() {
        if (actualStep < solutionSteps.length) {
            queenToggle(solutionSteps[actualStep][0], solutionSteps[actualStep][1]);
            actualStep++;
        }
    }

    function stepBackward() {
        if (actualStep > 0) {
            actualStep--;
            queenToggle(solutionSteps[actualStep][0], solutionSteps[actualStep][1]);
        }
    }

    function resetBoard() {
        actualStep = 0;
        const boardCells = document.querySelectorAll('.cell');
        for (let i = 0; i < boardCells.length; i++) {
            if (boardCells[i].firstChild) {
                boardCells[i].removeChild(boardCells[i].firstChild);
            }
        }
    }

    const setSolutionSteps = async (method) => {
        const loadingElement = document.getElementById('loading');
        loadingElement.style.display = 'block';
        await fetch(`http://localhost:5000//board/solvers/setup?limit=${encodeURIComponent(limit)}&side_moves=${encodeURIComponent(sideMoves)}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
        })
        await fetch(`http://localhost:5000/board/${method}/solve`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            },
        })
                .then((response) => response.json().then(solution => {
                    solutionSteps = solution.steps
                    console.log(solution)
                    document.getElementById('solveDuration').textContent =
                            `${solution.solveDuration.toFixed(4)} s`;
                    document.getElementById('nodesExpanded').textContent =
                            `${solution.nodesExpanded}`;
                }))
                .then(() => loadingElement.style.display = 'none');
    }

    function defineQueen() {
        const queen_img = document.createElement("img");
        queen_img.src = "{{ url_for('static', filename='fig/queen.png') }}";
        // queen_img.src = 'fig/queen.png';
        queen_img.classList.add('queen');
        queen_img.style.mixBlendMode = 'multiply';
        return queen_img;
    }

    function initBoard(board) {
        for (let i = 0; i < N * N; i++) {
            const cell = document.createElement('div');
            cell.classList.add('cell', (Math.floor(i / N) + i) % 2 === 0 ? 'white' : 'black');
            board.appendChild(cell);
        }
    }

    function queenToggle(row, col) {
        const boardCells = document.querySelectorAll('.cell');
        const queenIndex = row * N + col;
        console.log(queenIndex)
        if (boardCells[queenIndex].firstChild) {
            boardCells[queenIndex].removeChild(boardCells[queenIndex].firstChild);
        } else {
            boardCells[queenIndex].appendChild(defineQueen());
        }
    }
</script>

</body>
</html>